<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDrge28Psv9AJJMBpFCNU5zh-xmt-wOZE</string>
	<key>GCM_SENDER_ID</key>
	<string>424723703488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uyanik.DIY-Network</string>
	<key>PROJECT_ID</key>
	<string>diy-network-75d15</string>
	<key>STORAGE_BUCKET</key>
	<string>diy-network-75d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424723703488:ios:00688904ac249d02d06f25</string>
</dict>
</plist>